* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  background-color: #0a0e27;
  min-height: 100vh;
  padding-top: 70px;
}
.navbar {
  color: white;
  background-color: #06091a;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.container {
  padding: 20px;
}
.navbar > .container > .logo {
  font-size: x-large;
  font-weight: bold;
  text-align: left;
}
.navbar > .container {
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}
.navbar > .container > .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navbar > ul {
  display: flex;
  flex-direction: row;
}
.navbar > .container > ul > li > a {
  margin: 10px;
  padding: 5px;
}
ul {
  list-style-type: none;
}
.nav > li > a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.nav > li > a:hover {
  text-decoration: underline;
  color: #03ff40;
  font-size: larger;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  width: 1700px;
  gap: 40px;
  margin: 80px auto;
  padding: 0 40px;
  justify-content: center;
}

.box {
  width: 460px;
  min-height: 50px;
  height: auto;
  font-size: 14px;
  border-radius: 12px;
  background-color: black;
  padding: 40px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  overflow: visible;
}

.desc {
  display: none;
  margin: 0;
  color: grey;
}

p {
  color: grey;
}

.box a {
  color: white;
}

.toggle {
  color: #eaff00;
  font-size: 14px;
  cursor: pointer;
}

.category-tag1 {
  margin-left: auto;
  margin-right: -10px;
  color: #03ff40;
  font-size: 16px;
  background-color: #1a2e1a;
  padding: 4px 10px;
  border-radius: 20px;
  margin-top: -15px;
}

.category-tag2 {
  margin-left: auto;
  margin-right: -10px;
  color: #038eff;
  font-size: 16px;
  background-color: #1a2e1a;
  padding: 4px 10px;
  border-radius: 20px;
  margin-top: -15px;
}

.category-tag3 {
  margin-left: auto;
  margin-right: -10px;
  color: #ff0303;
  font-size: 16px;
  background-color: #1a2e1a;
  padding: 4px 10px;
  border-radius: 20px;
  margin-top: -15px;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.box p {
  margin-top: 25px;
  margin-bottom: 20px;
}
